<!DOCTYPE html>
<html>
<head>
<title>Train Ticketing Management System</title>
</head>
<body>
        <h2>Book Train Journey Online</h2>
        
        <h5>"Your Journey, Simplified.</h5>
        <h5>Streamline and Secure Your Train Tickets Online!"</h5>
        
        <h6>Welcome to our online train ticketing management system, 
        where convenience and efficiency converge to simplify your travel 
        experience. With just a few clicks, you can effortlessly book train 
        tickets, manage reservations, and stay updated on your journey.</h6>
         
        <h6>Our user-friendly interface and intuitive features ensure smooth 
        navigation and hassle-free transactions. Say goodbye to long queues 
        and endless paperwork, and embrace the seamless world of train travel 
        made possible by our cutting-edge online ticketing management system. 
        Get ready to embark on your next adventure with ease and confidence.</h6>


</body>
</html>
